# example checkpoints
examples/.ipynb_checkpoints/
# example output folder
examples/output/
# pyc
*.pyc
# pycharm
.idea/
# eclipse
.project
.pydevproject
# egg-info folder
irrad_spectroscopy.egg-info/
