# example checkpoints
irrad_spectroscopy/examples/.ipynb_checkpoints/
# example output folder
irrad_spectroscopy/examples/output/
# pyc
*.pyc
# pycharm
.idea/
# eclipse
.project
.pydevproject
# egg-info folder
irrad_spectroscopy.egg-info/
